form.signup,
form.login {
  margin-top: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  color: white;
}

.login-body { 
  background: url(../images/nodes03.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(100, 100, 100);
  color: black;
  border: none;
}

.nav-item {
  float: right;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.active-page {
  background-color: yellowgreen;
}

.text-dark-blue {
  color: darkblue;
}

.bg-dark-blue {
  background-color: darkblue;
  opacity: .7;
}

#login-btn {
  background-color: yellowgreen;
  color: white;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.row {
  margin-top: 0;
}

.text {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-weight: bold;
  font-size: 20px;
}

#title-text {
  color: yellowgreen;
  font-weight: bold;
  font-size: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#btn-link {
  color: yellowgreen;
}

#nav-cover {
 padding: auto;
}

#submit-btn, #update {
  background-color: yellowgreen;
  color: white;
  border: none;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 20px;
  margin-top: 15px;
}

#myList {
  width: 100%;
  height: 38px;
  color: slategray;
}

